html {
  font-family: "Roboto", sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
}

main {
  max-width: 500px;
  margin: 0 auto;
  background-color: #292929;
  color: white;
  padding: 3em;
}

form {
  font-family: inherit;
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 10px;
  row-gap: 25px;
  grid-template-areas:
    "experience-input profession-input"
    "income-year-input city-input"
    "form-submit form-submit";
}

@media screen and (max-width: 700px) {
  form {
    grid-template-areas:
      "experience-input"
      "profession-input"
      "income-year-input"
      "city-input"
      "form-submit";

    grid-template-columns: 100%;
  }
}

.experience-input {
  font-family: inherit;
  grid-area: experience-input;
}

.profession-input {
  font-family: inherit;
  grid-area: profession-input;
}

.city-input {
  font-family: inherit;
  grid-area: city-input;
}

.income-year-input {
  font-family: inherit;
  grid-area: income-year-input;
}

.form-submit {
  grid-area: form-submit;
  height: 2em;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  color: black;
  font-weight: 700;
  width: 125px;
  justify-self: center;
}

body {
  background-color: #121212;
}

h1 {
  margin-top: 0;
}

.background {
  background-color: #292929;
}

.primary {
  background-color: #c38fff;
}

input {
  border-radius: 5px;
}

.drop-down {
  height: 3em;
  border-radius: 5px;
}

.experience-input {
  height: 3em;
}
