form {
  font-family: inherit;
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 10px;
  row-gap: 25px;
  grid-template-areas:
    "experience-input profession-input"
    "income-year-input city-input"
    "form-submit form-submit";
}

@media screen and (max-width: 700px) {
  form {
    grid-template-areas:
      "experience-input"
      "profession-input"
      "income-year-input"
      "city-input"
      "form-submit";

    grid-template-columns: 100%;
  }
}

.experience-input {
  font-family: inherit;
  grid-area: experience-input;
}

.profession-input {
  font-family: inherit;
  grid-area: profession-input;
}

.city-input {
  font-family: inherit;
  grid-area: city-input;
}

.income-year-input {
  font-family: inherit;
  grid-area: income-year-input;
}

input,
select {
  border-radius: 5px;
  height: 30px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
}
